* body {
  margin: 5px;
  padding: 0;
  background-image: url("https://i.pinimg.com/736x/63/83/f2/6383f2c5c6dfa8b85c45fde859730056.jpg");
  background-size: cover;
}
.Header {
  height: 70px;
  width: 100%;
  text-align: center;
  display: grid;
  border-radius: 30px;
  background: #cdb4db;
  box-shadow: 3px 3px 4px 0px rgba(118, 117, 117, 0.25) inset, 4px 4px 2px 0px rgba(121, 121, 121, 0.25) inset, -4px -4px 1px 0px rgba(255, 255, 255, 0.25) inset;
}
.Home {
  height: 50%;
  width: 50%;
  background: rgba(158, 194, 227, 0.82);
  padding: 5px;
  margin-left: 25%;
}

.Home >h3 {
 text-align: center;
 font-size: 1.3em;
}
.Home >h4 {
  text-align: center;
 }
.Home >p {
  font-size: 1em;
  margin-left: 10px;
  text-align: center;
}
.Nav {
  display: flex;
  justify-content: center;
  gap: 60px;
  background-color: #ade8f4;
  padding: 15px;
  font-size: 2em;
  border-radius: 95px 95px 0 0  ;
  box-shadow: 3px 3px 4px 0px rgba(118, 117, 117, 0.25) inset, 4px 4px 2px 0px rgba(121, 121, 121, 0.25) inset, -4px -4px 1px 0px rgba(255, 255, 255, 0.25) inset;

}

.Nav a {
  color:black;
  text-decoration: none;
}

.GetExercise > .AllExercise {
 line-height: 0.5;
 border: 1px solid #ddd;
 border-radius: 8px;
 padding: 16px;
 background: rgba(131, 183, 233, 0.82);
 width: 450px;
 box-shadow: 3px 3px 4px 0px rgba(176, 176, 176, 0.25) inset, 4px 4px 2px 0px rgba(182, 181, 181, 0.25) inset, -4px -4px 1px 0px rgba(255, 255, 255, 0.25) inset;
}

 h1 {
  text-align: center;
}

.Form{
  margin-top: 20px;
  margin-left: 10px;
  gap: 10%;
  text-align: center;
}

input[type="submit"] {
 margin-left: 5px;
}

label {
  color: #7209b7;
  font-weight: bold;
}

.Blog{
  background: rgba(158, 194, 227, 0.82);
  padding: 20px;
}

.GetExercise{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.active {
  font-weight: bold;
}
